html,
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  user-select: none;
  background-color: rgb(191, 200, 110);
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  background-color: antiquewhite;
  border-radius: 5px;
  border: 4px outset whitesmoke;
}

#image {
  height: 25vh;
  margin: 0 auto;
}

#name {
  background-color: aliceblue;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
  margin: 10px;
}

#add-btn {
  color: rgb(255, 255, 255);
  background-color: rgb(196, 66, 66);
  font-family: "Playfair Display", serif;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
}

#add:hover {
  background-color: rgb(232, 79, 79);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  color: brown;
  font-size: 20px;
  background-color: aliceblue;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
  background-color: rgb(240, 192, 133);
}
